body{
    margin:0%;
    padding:0%;
    /* top: 30px; */
}
.container{
    width: 80%;
    margin:0 auto;    
}
/* .navigation{
    background: #55d6aa;   
} */
/* .header.hidden{
    transform: translate(0, -100%, 0);
} */
header{
    position: fixed;
    transition: .5s;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(70, 70, 70);
    z-index: 1;
    border-top: 1px solid white; 
    padding: 10px 0px 10px 0px;
    
}
/* header::after{
    position: sticky;
    content:'';
    display:table;
    top:10;
    clear:both;
} */
.logo{
    float:left;
    width:100px;
    width: 100px;
    border-radius: 50%;
    /* padding: 10px  0; */
}
nav{
    float:right;
    padding-top: 40px;
    /* position: fixed; */
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    /* float:right; */
}
nav li{
    display: inline-block;
    /* margin-left: 70px; */
    margin-left: 70px;
    /* padding-top: 35px; */
    position: relative;
}
nav a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
nav a:hover{
    color: #ff5e14;
    text-decoration: none;
}
nav a:focus{
    color:#ff5e14;
}
nav a::before{
    content:'';
    display:block;
    /* margin-bottom: 30px!important; */
    height: 5px;  
    background-color: #ff5e14;
    position: absolute;
    top: 10;
    width: 0%;
    transition: all ease-in-out 250ms;
}
nav a:hover::before {
    width: 100%;
    margin-bottom: 10px!important;
}
/* nav ul li a.active,nav ul li a:active,nav ul li a:hover{
    color: #ff5e14;
} */

/* nav .current{
    color:#ff5e14;
} */
/* nav ul li a.active{
    color: #ff5e14;
} */
nav ul li a:hover:not(.active){
    color:#ff5e14;
}
nav ul li a:active{
    color: #ff5e14;
}
.nav-icon-logo{
    float: right;
    display: none;
}
.show-nav {
    height: 50px;
    overflow: var(--mainBlack);
  }
@media screen and (max-width: 1000px) {
    .nav-icon-logo{
        display: block;
        padding-top: 20px;   
        position:relative;
    }
    .nav-btn{
        border: none;
        background:transparent;
        font-size: 30px;
    }
      .nav-links {
        height: 5;
        overflow: hidden;
        transition: var(--mainTransition);
        list-style-type: none;  
        display:block;
      }
      nav li{
          display: block;
          top: 30px;
      }
      
}